<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/ebd6827f1e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">



    <nav class="navbar navbar-light bg-white">
      <a href="/profile" class="navbar-brand">Sober App</a>
      <span>Anonymous Sober Social Network</span>
      <form class="form-inline">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" id="button-addon2">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
      </form>
    </nav> -->



    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/ebd6827f1e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
            
      <nav class="navbar navbar-light bg-white">
        <a href="/profile" class="navbar-brand">Sober App</a>
        <h2>Anonymous Sober Social Network</h2>
      <form class="form-inline">
          <div class="input-group">
              <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
              <div class="input-group-append">
                  <button class="btn btn-outline-primary" type="button" id="button-addon2">
                      <i class="fa fa-search"></i>
                  </button>
              </div>
          </div>
      </form>
      </nav>
    
     