
.borders{
  border-radius: 10px;
  border: black solid 4px;
}


.custom-base{
  background-color: #f1e9da;
}

.custom-primary{
  color: #715b64;
}

body{
  background-color: #f1e9da;
}

/* header{
  background-color: #b2bdb3;
} */

.navbar {
	font-family: 'Montserrat', sans-serif;
	margin-top: .5em;
	border: none;
  margin-bottom: 5em;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: white;
		color: black;
}


.navbar-brand,.navbar-nav>li>a {
    color: black;
		font-weight: 700;
		font-size: 1.25em;
		letter-spacing: 3px;
	}



.container-fluid {
	background-color: #fff;
}

.navbar-toggle {
	border: none;
}

.icon-bar {
	 color: black;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}